@font-face {
	font-family: 'Yanone Kaffeesatz';
	font-style: normal;
	font-weight: 400;
	src:
		local('Yanone Kaffeesatz Regular'),
		local('YanoneKaffeesatz-Regular'),
		/* from https://fonts.gstatic.com/s/yanonekaffeesatz/v8/YDAoLskQQ5MOAgvHUQCcLRTHiN2BPBirwIkMLKUspj4.woff */
		url('Yanone_Kaffeesatz_400.woff') format('woff'),
		/* from https://fonts.gstatic.com/s/yanonekaffeesatz/v8/YDAoLskQQ5MOAgvHUQCcLfGwxTS8d1Q9KiDNCMKLFUM.woff2 */
		url('Yanone_Kaffeesatz_400.woff2') format('woff2');
}

@font-face {
	font-family: 'Merriweather';
	font-style: normal;
	font-weight: 400;
	src:
		url('merriweather-regular.woff2') format('woff2'),
		url('fonts/merriweather-regular.woff') format('woff'),
		url('merriweather-regular.ttf') format('ttf');
}

@font-face {
	font-family: 'Merriweather';
	font-style: italic;
	font-weight: 400;
	src: url('merriweather-italic.ttf') format('ttf');
}

@font-face {
	font-family: 'Merriweather';
	font-style: bold;
	font-weight: 400;
	src: url('merriweather-bold.ttf') format('ttf');
}